@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-3 {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@font-face {
  font-family: 'Agent-Red';
  src: url('/fonts/Agent-Red.woff2') format('woff2'),
       url('/fonts/Agent-Red.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}